<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">کجا بریم؟</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">صفحه اصلی</a>
                <a class="nav-link" href="/campgrounds">کمپ ها</a>
                <a class="nav-link" href="/campgrounds/new">ایجاد کمپ جدید</a>
            </div>
            <!-- // Yadet bashe bootstrap 5 be baad dige ml-auto kar nemikone. alan ms-auto bayad bashe! -->
            <!-- baraye rast be chap neveshtan bayad az re-auto estefade konin! -->
            <div class="navbar-nav me-auto">
                <% if(!currentUser) { %>
                    <a class="nav-link" href="/users/login">ورود</a>
                    <a class="nav-link" href="/users/register">ثبت نام</a>
                <% }else { %>
                    <a class="nav-link" href="/users/logout">خروج</a>
                <% } %>
            </div>
        </div>

    </div>
</nav>