<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 style="direction: rtl;" class="text-center">کمپ جدید</h1>
        <div class="col-6 offset-3">


            <div id="map"></div>
            <pre id="coordinates" class="coordinates"></pre>

            
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="title">عنوان</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="location"> مکان</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- <div class="mb-3">
                    <label style="direction: ltr;" class="form-label" for="image">برای عکس url</label>
                    <input class="form-control" type="text" name="campground[image]" id="image" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->
                <div class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="price">هزینه کمپ</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="Price-label">&#65020;</span>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="Price"
                            aria-describedby="price-label" id="price" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label style="direction: rtl;" class="form-label" for="description">توضیحات</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">انتخاب عکس</label>
                    <input class="form-control" name="image" type="file" id="image" multiple>
                </div>
                <div class="mb-3">
                    <button style="direction: rtl;" class="btn btn-success">اضافه کردن کمپ</button>

                </div>
            </form>
            <a style="direction: rtl;" class="btn btn-outline-info mb-3" href="/campgrounds">تمام کمپ ها</a>
        </div>
    </div>