<% layout('layouts/boilerplate') %> 

<h1>ثبت نام</h1>

<form action="/users/register" class="validated-form" novalidate method="POST">
    <div class="mb-3">
        <label class="form-label" for="username">نام کاربری</label>
        <input class="form-control" type="text" name="username" id="username" required>
        <div class="valid-feedback">
            بنظر خوب میاد!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">ایمیل</label>
        <input class="form-control" type="email" name="email" id="email" required>
        <div class="valid-feedback">
            بنظر خوب میاد!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">رمز عبور</label>
        <input class="form-control" type="password" pattern=".{8,}"   name="password" id="password" required>
        <div class="valid-feedback">
            بنظر خوب میاد!
        </div>
    </div>
    <button class="btn btn-success">ثبت نام</button>
</form>